
.hero-section{
    background-size: cover;
    position: relative;
    min-height: 50vh;

    .heroHeading{
        font-size: 3rem;
        letter-spacing: 0.1rem;
        color: whitesmoke;
        text-shadow: .3em 0.2em 0.6em $secondary-color;
    }

    .heroText{
        font-size: 0.9rem;
        color: rgba(0, 106, 124, 0.918);
        font-weight: 600;
        letter-spacing: 0.2em;
        text-shadow: .3em 0.2em 0.9em $alt-color;
    }
}

.contact-section{
    .contact{
        box-shadow: 0.11em 0.11em 0.6em $secondary-color;
        background-color: white;
        .contactus{
            border-radius: 0 0 6em 0;
        }
        p{
            margin-top: 1.2em;
            font-size: 0.9em;
        }
    }
    .contactForm{
        .emailIn{
            padding: 0.3em;
            font-size: 0.9em;
            font-weight: 300;
        }
        .textIn{
            padding: 3em;
            padding: 0.3em 0 3em 0.3em ;
            
            font-size: 0.9em;
            font-weight: 300;
        }
        .subBtn{
            background-color: $alt-color;
            color: white;
            font-weight: 550;
            letter-spacing: 0.1em;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero-section{
        min-height: 100vh;
    }

    .feauture-section{
        min-height: 100vh;
    }

    .contact-section{
        min-height: 100vh;
    }
}

